<header class='shadow-md font-sans' th:fragment="header">
    <div class='flex flex-wrap items-center justify-between gap-4 px-10 py-4 relative bg-white min-h-[70px]'>
        <div class="bg-orange-500 text-white font-bold py-2 px-4 rounded cursor-default">
            Car Notificator
        </div>
        <ul id="collapseMenu" class='flex space-x-4'>
            <li class='max-lg:border-b max-lg:py-2 px-3 max-lg:rounded'><a href='#'
                                                                           class='lg:hover:text-orange-500 text-[#333] block font-semibold text-[15px]'>Підписки</a>
            </li>
            <li class='max-lg:border-b max-lg:py-2 px-3 max-lg:rounded'><a href='#'
                                                                           class='lg:hover:text-orange-500 text-[#333] block font-semibold text-[15px]'>Мій аккаунт</a>
            </li>
        </ul>
    </div>
</header>